#main-header {
    width: 100%; 
    max-width: 60rem;
    margin: 0 auto;
    height: 5rem;
    padding: 0 var(--space-6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-primary-100);
    background-color: var(--color-gray-500);
}

#logo {
    font-weight: bold;
    font-size: 2rem;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-items li {
    margin: 0 var(--space-2);
}

#mobile-menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    padding: 0;
}

#mobile-menu-btn span {
    width: 2.5rem;
    height: 0.2rem;
    background-color: var(--color-gray-100);
}